@charset "UTF-8";
body, h1, h2, h3, h4, h5 {
	font-family: "Poppins", sans-serif
}

body {
	font-size: 16px;
}

.w3-half img {
	margin-bottom: -6px;
	margin-top: 16px;
	opacity: 0.8;
	cursor: pointer
}

.w3-half img:hover {
	opacity: 1
}

.m_table {
	display: inline-table;
	border: 1px solid black;
	width: 95%;
}

.m_caption {
	display: table-caption;
}

.m_flex {
	display: flex;
}

.m_caption .m_title {
	display:inline-block;
}

.m_caption .m_searchbox {
	display:inline-block;
	margin: auto 0;
	flex-grow: 1;
	text-align: right;
}

.m_head {
	display: table-header-group;
}

.m_body {
	display: table-row-group;
}

.m_row {
	display: table-row;
}

.m_head>div {
	text-align: center;
	font-weight: bold;
}

.m_row>div {
	display: table-cell;
	border: 1px solid black;
	vertical-align: middle;
	margin: 0;
	padding: 1px 2px;
	min-width: 100px;
}

.m_no {
	width: 40px;
	text-align: center;
}

.m_email {
	width: 200px;
}

.m_name {
	width: 150px;
}

.m_phone {
	width: 150px;
}

.m_authority {
	width: 150px;
}

.m_reg {
	width: 200px;
	text-align: center;
}

.m_pwreset {
	width: 110px;
	text-align: center;
}
.m_pwreset > a {
	text-decoration: none;
	color: black;
}


/* 매출현황 */
.select {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 2em;
    text-align-last:center;
}
.row1{
    display:block;
    margin:15px 0px;
}
.m_caption_center{
	text-align:center; 
	width:900px;
	margin-left:300px;
}
.searchbtn{
	padding-top:5px;
}
.menu-wrap > ul{
	width:80%;
    list-style: none;
    display:block;
}
.menu-wrap > ul > li{
    display:inline-block;
    width:15%;
	padding:10px;
}
.menu-wrap .hover{
	background-color:#bbb;
}
.menu-wrap li:hover{
    background-color:#bbb;
}
.menu-wrap a{
    text-decoration: none;
    font-size:16px;
    color:white;
    font-weight:bold;
}
.text-center{
	text-align:center;
}
.text-right{
	text-align:right;
	padding-right:5px;
}
.div_row > div {
	display: table-cell;
	border: 1px solid #ccc;
	vertical-align: middle;
	margin: 0;
	height:30px;
	padding: 1px 2px;
}