
.center {
	width: 100%;
	margin-top: 150px;
	padding-top: 2%;
}

.menu2 {
	display: none;
}


.page {
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap;
	justify-content: Flex-start;
	align-content: stretch;
	width: 96%;
}

.page_list {
	width: 30%;
	height: 45%;
}


@media screen and (max-width:740px) { 
	.center {
		width: 100%;
		margin-top: 150px;
		padding-top: 2%;
	}
	.page {
		flex-direction: column;
		width: 100%;
		margin-bottom: 2%;
	}
	.page_list {
		width: 95%;
		height: 50%;
		margin-left: 2%;
	}
	.page_list img.list_img {
		width: 100%;
		height: 70%;
	}
}

@media screen and (min-width:740px) { 
	.center {
		width: 100%;
		margin-top: 150px;
		padding-top: 2%;
	}
	.page {
		flex-direction: row;
		margin-left: 4%;
	}
	.page_list {
		width: 45%;
		margin-left: 2%;
	}
	.page_list img.list_img {
		width: 100%;
		height: 70%;
	}
}

@media screen and (min-width:1100px) { 
	.center {
		width: 100%;
		margin-top: 190px;
		padding-top: 2%;
	}
	.menu2 {
		position: fixed;
		top: 120px;
		background-color:white;
		border-bottom:solid 1px darkgray;
		width: 100%;
		display: inline-block;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 5%;
		margin-bottom: 2%;
	}
	.menu2 input {
		font-size: 18px;
	}
	.b {
		margin-right: 10px;
	}
	.add_type {
		display: none;
		margin-top: 5px;
		background-color: white;
		position: absolute;
		border: solid 1px darkgray;
		width: 400px;
		height: 330px;
		padding: 20px;
	}
	.add_type p {
		margin-bottom: 26px;
	}
	#b {
		margin-left: 80;
	}
	.add_price {
		display: none;
		margin-top: 5px;
		background-color: white;
		position: absolute;
		border: solid 1px darkgray;
		width: 400px;
		height: 330px;
		padding: 20px;
	}
	.add_filter {
		display: none;
		margin-top: 5px;
		background-color: white;
		position: absolute;
		border: solid 1px darkgray;
		width: 400px;
		height: 330px;
		padding: 20px;
	}

	#slider {
		margin-right: 30px;
	}
	.page {
		flex-direction: row;
		margin-left: 3%;
	}
	.page_list {
		width: 30%;
		height: 45%;
		margin-left: 2%;
	}
	.page_list img.list_img {
		width: 100%;
		height: 70%;
	}
}

.row {
	height: 50px;
	text-align: center;
	margin-bottom: 10%;
}

.row_login {
	height: 50px;
	text-align: center;
	margin-bottom: 2%;
}

.row a {
	color: dodgerblue;
	font-size: 15px;
	margin-left: 10px;
	text-decoration: none;
}

.this {
	font-size: 23px !important;
	color: white !important;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
	background-color: dodgerblue;
	border-radius: 50px;
}
.empty-90{
	display: none;
	height:100px;
}
.filter{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 50px;
	color: dimgray;
}
.cancel{
	margin-right: 220px;
}

.page_list a{
	text-decoration: none;
}
.page_list a span{
	font-weight: bold;
}
.page_list img.list_img {
	margin-bottom: 5px;
}
.page_list img.star_size{
	margin: auto 0;
}