          /*기본 중앙 */
            .center{
                width: 100%;
                border: solid black 1px;
                margin-bottom: 10%;
                margin-top: 150px;
                padding-top: 2%;
            }
            /*소 메뉴*/
            .menu2{
                display: none;
            }

            /*화면 변화의 기본 값들*/
            .page{
                display: flex;  /* 수평으로 설정이 됨 */
                flex-direction: row;    /*기본값 */
                flex-wrap: wrap;
                justify-content: Flex-start;
                align-content: stretch;
                width: 96%;
            }
            
           .page_list{
                width: 30%;
                height: 45%;
                border: solid black 2px;
                margin-bottom: 2%;
   
            }
            
             /*화면 변화*/
            @media screen and (max-width:740px){/*1단계*/
                
             .center{
                width: 100%;
                border: solid black 1px;
                margin-bottom: 10%;
                margin-top: 150px;
                padding-top: 2%;
            }
                .page{
                    flex-direction: column;
                    width: 100%;
                    margin-bottom: 2%;
                }
                .page_list{
                     border: solid black 2px;
                    width: 95%;
                    height: 50%;
                    margin-bottom: 2%;
                    margin-left: 2%;
                }
                 .page_list img{
                     width: 100%;
                     height: 70%;
                 }

                }
            @media screen and (min-width:740px){/*2단계*/
            .center{
                width: 100%;
                border: solid black 1px;
                margin-bottom: 10%;
                margin-top: 150px;
                padding-top: 2%;
            }
                .page{
                    flex-direction: row;
                    margin-left: 4%;
                }
               .page_list{
                    border: solid black 2px;
                    width: 45%;
                   margin-bottom: 2%;
                   margin-left: 2%;
                }
                 .page_list img{
                     width: 100%;
                     height: 70%;
                 }
            }
             @media screen and (min-width:1100px){/*3단계*/
                 .center{
                width: 100%;
                border: solid black 1px;
                margin-bottom: 10%;
                margin-top: 150px;
                padding-top: 2%;
                
                 }
                 .menu2{
                    display: inline-block;
                    margin-left: 2%; 
                    margin-bottom: 2%;
                 }
                 .menu2 button{
                     margin-right: 20;
                     font-size: 15px;
                 }
                 .page{
                     flex-direction: row;
                     margin-left: 3%;
                 }
               .page_list{
                width: 30%;
                height: 45%;
                border: solid black 2px;
                margin-bottom: 2%;
                margin-left: 2%;
                 }
                 .page_list img{
                     width: 100%;
                     height: 70%;
                 }