.menu-wrap a{
    text-decoration: none;
    font-size:16px;
    color:white;
}
.menu-wrap{
    background-color: #08298A;
}
.menu-wrap > ul{
	width:80%;
    list-style: none;
    display:block;
}
.menu-wrap > ul > li{
    display:inline-block;
}

.menu-wrap li{
	width:15%;
	padding:10px;  
}
.menu-wrap .hover{
	background-color:#525252;
}
.menu-wrap li:hover{
    background-color:#525252;
}
.subnav{
    margin-left: 40px;
    margin-right: 40px;
}
.submenu_wrap{
	width:40%; 
}
.submenu_wrap > ul{
	list-style: none;
}
.submenu_wrap > ul > li{
	font-size:18px;
	padding:5px;
	text-align:right;
	padding-right:130px;
}
.submenu_wrap > ul > li:hover{
	color:#ccc;
}
.submenu_wrap .hover{
	font-weight:bold;
}
.submenu_wrap a{
	text-decoration: none;
}
.subtab{
	background-color:#edefed;
	height:50px;
	padding:10px;
	font-size:16px;
	text-align:left;
	border-bottom:1px solid #edefed;
}
.subtab > ul{
	list-style: none;
	margin:0px;
}
.subtab > ul > li{
	padding-left:20px;
	display:inline-block;
}
.subtab a{
    text-decoration: none;
}
.subtab .on{
	font-weight:bold;
}
.list-layout{
	padding-left: 0;
    list-style: none;
    margin:0px;
}
.subcontent{
	border:1px solid #edefed;
}
.list-layout li{
	margin:10px;
	border-bottom:1px solid #ccc;
	padding:10px;
}
.image-wrap{
	height:195px;
}
.content-wrap{
	padding:10px;
	text-align:left;
}
.content-wrap .content-step{
	color:green;
	padding:5px;
}
.content-wrap .content-title{
	font-weight:bold;
	padding:5px;
}
.content-wrap .content-update{
	padding:5px;
}
.pw-wrap{
	height: 50px;
    border-top: 1px solid #edefed;
}
.pw-btn{
	padding:10px;
}
.history_table{
	border:1px solid #edefed;
	border-collapse: collapse;
	margin-left:35px;
}
.history_table th, .history_table td{
    padding:10px;
    width:20%;
}
.hostclose{
	margin-left:300px;
	cursor:pointer;
	width:10px;
}
.delcontent{
	height:195px;
}

tr.border-bottom td, th{
	border-bottom:1px solid #edefed;
	padding:10px;
	nowrap;
}
.comple-table{
	padding:10px;
}
.font-green{
	color:#04B431;
}
.font-orange{
	color:#FE642E;
}
.font-blue{
	color:#2E2EFE;
}
.font-red{
	color:#FE2E2E
}
